:root {
  --yellow-bright: #ffd587;
  --yelow-contrast: #ffc65b;
  --cyanic-bright: #98bfd0;
  --cyanic-contrast: #78acc1;
  --purple-light: #cbbfff;
  --purple-semi: #b39bfa;
  --purple-medium: #9b7aff;
  --purple-dark: #8766eb;
  --absolute-white: #fff;
  --black: #545454;
  --light-green: #c9deb6;
  --green-active-input: #92aa7c;
  --green-hover-input: #b0c89a;
  --normal-input: #e4e4e4;
  --placeholder: #8a8a8a;
  --box-id: #dadada;
  --frame-color: #f2f2f2;
  --dark-grey: #828282;
  --middle-grey: #9e9e9e;
  --input-complete: #73ac75;
  --input-error: #e35757;
  --fill-input-disable: #f8f7f7;
  --smoke-grey: #EBEBEB;
  --pastel-purple: #E3D7FB;
  --pink-light: #FCF3FF;
  --stroke-grey: #EBEBEB;
  --lime-green: #5DDC40;
  --cancel-btn-fill-normal: #F77C7C;
  --cancel-btn-storke-normal: #C35151;
  --cancel-btn-fill-hover: #FF9E9E;
  --cancel-btn-storke-hover: #FF8181;
  --cancel-btn-fill-active: #F65E5E;
  --cancel-btn-storke-active: #C35151;
}

:root {
  --font-family: "Comfortaa", sans-serif;
  --second-family: "Arista Pro", sans-serif;
}

.purple-shadow {
  box-shadow: 4px 0 4px 0 rgba(135, 102, 235, 0.25), -4px 0 4px 0 rgba(135, 102, 235, 0.25);
}

.font-shadow{
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
